<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atharv's Careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #banner{
        height:360;
        width:100%
      }
    </style>
    </head>
  </head>

  <body>
    <div class="container" >
        <h1 class ="text-center mt-2 mb-4" >Atharv's Careers</h1>
        <img class="img-fluid" id = "banner"  src="static/banner.jpg" >
        <h2 class ="text-center mt-2 mb-4">About Atharv</h2>
        <p>
          Lorem ipsum odor amet, consectetuer adipiscing elit. Tortor rutrum ut pulvinar tincidunt eros imperdiet ornare. Laoreet nisl etiam semper condimentum nullam fringilla. Urna primis efficitur mauris est himenaeos per conubia velit. Habitasse dolor purus feugiat venenatis habitant ultrices penatibus quam. Nunc curae vestibulum himenaeos quam nisl. Torquent quam senectus erat neque hac dictum ipsum vulputate. Sed volutpat morbi dictum eu ultrices blandit cras ridiculus.
    
          Turpis vulputate dolor finibus hendrerit urna. Convallis vitae neque imperdiet quisque iaculis et. Sollicitudin euismod dolor sapien; ante metus laoreet nisl erat. Turpis risus bibendum magna eget congue netus nascetur. Condimentum enim orci suscipit odio sagittis tristique interdum dui. Ullamcorper tempus natoque gravida augue proin. Libero neque platea iaculis leo libero; auctor ipsum erat.
    
          Non finibus nisl in dictum justo elit magna. Facilisis enim magna volutpat sit sed senectus consequat augue. Ullamcorper lobortis tortor faucibus per ornare integer primis vehicula tortor. Lobortis non arcu est at id hac elementum. Non massa tempus mauris tincidunt, malesuada torquent eros. Etiam laoreet mollis rutrum ad eleifend dictum elit. Cras accumsan primis fermentum pretium aenean sem lorem luctus habitant. Leo posuere mus molestie euismod euismod diam. Lorem leo penatibus dictum montes risus netus purus.
    
          Ante imperdiet nec interdum efficitur placerat proin. Tellus senectus per quisque dictumst netus himenaeos euismod amet. Commodo pulvinar lacus porta quis faucibus pulvinar. Phasellus purus nibh rutrum vel fusce, pretium ligula eu. Platea elit nisl aenean vitae orci dis tempus. Penatibus leo mollis sed nam velit. Velit mi justo et sem; lobortis auctor justo.
    
          Metus taciti et ante iaculis nec fames integer tempus euismod. Etiam nibh taciti congue consectetur lacus, velit ad tincidunt. Bibendum bibendum augue rhoncus arcu ullamcorper donec. Neque ridiculus lobortis penatibus suspendisse felis mus. Imperdiet sem class habitant turpis sit arcu quis nec. Maximus risus eros lacinia curabitur justo blandit. Blandit condimentum eget tempus turpis nostra odio vitae aenean. Pharetra inceptos venenatis tortor feugiat integer pretium vehicula.
        </p>
        <h2 class ="text-center mt-2 mb-4">Open Positions</h2>
      <p>TODO - Show the jobs here </p>
      <div class = "text-center">
        <button class="btn btn-primary btn-lg" >Contact Us</button>
      </div>
        <p>Copyright 2023, Atharv</p>
      </div>
  </body>
</html>
  